@font-face {
    font-family:"roboto";
    src: url('fonts/RobotoMono-Regular.ttf');
}

body{
    background-color: #222;
    font-size:1em;
    font-family:Arial, Helvetica, sans-serif;
    color:#ffffff
}

H1{
    font-size:2rem;
    color:#cc9d6c;
    font-family:"roboto", Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

table td{
    padding:1rem;
}

table th{
    padding:1rem;
    background-color : #000000;
    font-weight: bold;
    text-align:left;
}

table tr:nth-child(2n){
    background-color:#cc9d6c;
    color:#000000;
}